[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
/.vs/ProjectEvaluation/newsapp.strings.v9.bin
/.vs/ProjectEvaluation/newsapp.projects.v9.bin
/.vs/ProjectEvaluation/newsapp.metadata.v9.bin
/.vs/NewsApp/FileContentIndex/0602eec6-e194-41cc-b8e1-96919de47f09.vsidx
/.vs/NewsApp/FileContentIndex/79a4e6a5-5258-4a26-abf9-9222d3d2292e.vsidx
/.vs/NewsApp/FileContentIndex/90d91481-76af-4542-9f20-bc9926e47f8a.vsidx
/bin/Debug/net9.0-windows/NewsApp.dll
/bin/Debug/net9.0-windows/NewsApp.exe
/bin/Debug/net9.0-windows/NewsApp.pdb
/obj/Debug/net9.0-windows/ref/NewsApp.dll
/obj/Debug/net9.0-windows/refint/NewsApp.dll
/obj/Debug/net9.0-windows/apphost.exe
/obj/Debug/net9.0-windows/NewsApp.AssemblyInfo.cs
/obj/Debug/net9.0-windows/NewsApp.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/NewsApp.assets.cache
/obj/Debug/net9.0-windows/NewsApp.dll
/obj/Debug/net9.0-windows/NewsApp.csproj.FileListAbsolute.txt
/obj/Debug/net9.0-windows/NewsApp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/NewsApp.pdb
/obj/Debug/net9.0-windows/NewsApp.genruntimeconfig.cache
/obj/NewsApp.csproj.nuget.dgspec.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/NewsApp/CopilotIndices/17.14.1530.14912/CodeChunks.db
/.vs/NewsApp/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
/.vs/NewsApp/DesignTimeBuild/.dtbcache.v2
/.vs/NewsApp/v17/.futdcache.v2
/.vs/NewsApp/v17/.suo
/.vs/NewsApp/v17/DocumentLayout.backup.json
/.vs/NewsApp/v17/DocumentLayout.json
